@model GestorEventos.Servicios.Entidades.ServiciosVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>Queres eliminar este servicio?</h3>
<div>
    <h4>Los servicios eliminados ya no estaran disponibles para el usuario</h4>
    <hr />
    <dl class="row">
        <!--<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicio)
        </dd>-->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioServicio)
        </dd>
        <!--<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Borrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Borrado)
        </dd>-->
    </dl>
    
    <form asp-action="Delete" asp-route-id="@Model.IdServicio">
        <input type="submit" value="Borrar" class="btn btn-danger" /> 
        
    </form>

    <div>
        <a asp-action="Index">Volver a Servicios</a>
    </div>
</div>
