@using GestorEventos.Servicios.Entidades
@model GestorEventos.Servicios.Entidades.EventoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <img src="~/css/imagenes/archivo.png" alt="Detalles" class="fixed-size">
</div>

<div>
    <h3>Información del Evento</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label for="EstadoEvento">Estado</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoEvento)
        </dd>
        <dt class="col-sm-2">
            <label for="NombreEvento">Evento</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEvento)
        </dd>
        <dt class="col-sm-2">
            <label for="FechaEvento">Fecha</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEvento)
        </dd>
        <dt class="col-sm-2">
            <label for="CantidadPersonas">Cantidad de Personas</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>
        <dt class="col-sm-2">
            <label for="TipoEvento">Solteros o Solteras?</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoEvento)
        </dd>
        <dt class="col-sm-2">
            <label for="PersonaAgasajada">Agasajado</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombrePersonaAgasajada)
        </dd>
    </dl>

    <h3>Servicios Contratados</h3>
    <dl class="row">
        @foreach (var servicio in (IEnumerable<ServiciosVM>)ViewData["ListaServicios"])
        {
            <dt class="col-sm-2">
                @Html.DisplayFor(model => servicio.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => servicio.PrecioServicio);
            </dd>
        }
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a Eventos</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

