@model IEnumerable<GestorEventos.Servicios.Entidades.EventoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tus Despedidas</h1>
<p>
    <a asp-action="Create">Nuevo Evento</a>
</p>

<table class="table table-striped table-bordered rounded">
    <thead class="thead-dark">
        <tr>
            <th>Evento</th>
            <th>Fecha</th>
            <th>Cantidad de Personas</th>
            <th>Agasajado</th>
            <th>Solteros o Solteras?</th>
            <th>Estado</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NombreEvento)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaEvento)</td>
                <td>@Html.DisplayFor(modelItem => item.CantidadPersonas)</td>
                <td>@Html.DisplayFor(modelItem => item.NombrePersonaAgasajada)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoEvento)</td>
                <td>@Html.DisplayFor(modelItem => item.EstadoEvento)</td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdEvento }, new { @class = "btn btn-info btn-sm rounded" })
                </td>
            </tr>
        }
    </tbody>
</table>


